main {
    margin: auto;
    font-size: 30px;
    background-color: rgba(61, 16, 8, 0.795);
    border-radius: 10%;
    
}
body {
    font-family: 'Brush Script MT',cursive;
    text-align: center;
    background-color: burlywood;
}
.homepage {
    border-color: green;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-image: url(./images/elfland.jpg);
    background-size: cover;

}
.heading {
    margin: auto;
    padding: 10px;
    font-size: 50px;
    color: green;
    font-weight: bolder;
}
.text {
    color: lightgreen;
    padding: 10px;
    margin: auto;
}
.info img {
    width: 300px;
    height: auto;
    border-radius: 30%;
}
.home-link {
    font-size: 30px;
    background-color: rgb(70, 43, 21);
    border-radius: 10%;
    width: 10%;
    font-weight: bolder;

}
a{
    color: green;
    text-decoration: none;
}
.infomax {
    
    background-image: url(./images/elfking1.jpg), url(./images/elfking2.png);
    background-position: top left, top right;
    background-repeat: no-repeat;
    background-size: 25% 100%, 25% 100%;

}
.infomain main{
    width: 51%;
    background-color: rgb(70, 43, 21);
}
.column {
    float: left;
    width: 33.33%;
    height: 1000px;
    
}
.row::after {
    content: "";
    clear: both;
    display: table;
}